*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    
}

.tool-cont
{
background-color: #4b4b4b;
height: 6rem;
width :100%;
display: flex;
align-items: center;

}
.col-cont
{
background-color: #3d3d3d;
height: 3rem;
width:25rem;
margin-left: 50px;
border-radius: 5px;
display: flex;
align-items: center;
justify-content: space-around;
}
.color{
    height: 20px;
    width: 3rem;
    background-color: red;
    border-radius: 2px;
    
}
.all-ticket{
    height: 25px;
    width: 4.5rem;
    background-color: #4b4b4b;
    border-radius: 2px;
    color:white;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius:5px ;
}
.lightpink{
background-color: lightpink;
}
.lightblue{
background-color: lightblue;
}
.lightgreen{
background-color: green;
}
.black{
background-color: black;
}
.action-button{
    background-color: #3d3d3d;
height: 3rem;
width:10rem;
margin-left: 50px;
border-radius: 5px;
display: flex;


}
.action-button > *{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 2rem;
}
/* .action-button > *:hover{
    background-color: lightgray
} */
.add-button{

}
.remove-button
{

}
.modal
{
    height: 50vh;
    width: 40vw;
    position: absolute;
    top:25vh;
    left:32vw;
    display: none;
    box-shadow: 10px 10px 5px #aaaaaa;
    
    
  
    

}
.text-area-cont{
  
    width: 75%;
    resize: none;
    border: none;
    outline: none;
    padding: 3rem;
    font-size: 1.5rem;
    background-color: #84817a

}
.priority-col-cont{
   
    background-color: #4b4b4b;
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}
.priority-col{
    height: 12%;
    width: 55%;
    border-radius: 5px;
}
.main-cont{
    
    display: flex;
    padding: 1rem;
    gap:2rem;
    flex-wrap: wrap;
    justify-content: center;
}
.ticket-cont{
height:15rem;
width: 17rem;
background-color: lightgrey;
box-shadow: 10px 10px 5px #aaaaaa;
border-radius: 5px;


}
.ticket-col{
    height: 2rem;
   
}
.ticket-id{
    height: 2rem;
    background-color: lightgrey;
    padding: 0.4rem;
    /* font-size: 15px; */
    font-weight: bold;
    display: flex;
    align-items: center;
    border-bottom: solid 1px gray
}
.ticket-area{
    padding: 0.4rem;
    outline: none;
    height:8.5rem
}
.border{
    border: solid 4px #fff200;
}
.ticket-lock{
    height: 2rem;
    display: flex;
    justify-content: flex-end;
    font-size: 2rem;
   padding-right: 0.5rem;
   color: #84817a;
  

} 
@media screen and (min-width:425px) and (max-width:768px)
{
    .modal{
        height: 40vh;
        width: 41vw;
    }
   
}

@media screen and (max-width:426px)
{
    .modal{
        height: 40vh;
        width: 70vw;
        left: 4.5rem;
        top:14rem;
    }
    .action-button{
    
    height: 2rem;
    width:6rem;
    margin-left: 10px;
    
    }
    .col-cont
{

height: 2rem;
width:20rem;
margin-left: 5px;

}
.color{
    width: 2.5rem;
    height: 15px;
}
   .all-ticket{
    height: 15px;
    width: 4rem;
    font-size: 12px;
   } 
   .tool-cont
{

height: 4rem;
width :100%;

}
}